<div class="header-utility-bar">
    <div class="utility-content">
        <div class="utility-left">
            <span><span class="material-symbols-outlined">emergency</span> Emergency: +91 93279 98218</span>
            <span><span class="material-symbols-outlined">schedule</span> Mon-Sat: 9:00 AM - 9:00 PM</span>
        </div>
        <div class="utility-right">
            <a href="careers.html">Careers</a>
            <a href="news.html">News & Media</a>
            <div class="social-icons-mini">
                <a href="#">FB</a>
                <a href="#">IG</a>
                <a href="#">LI</a>
            </div>
        </div>
    </div>
</div>

<div class="navbar main-nav">
    <a href="index.html" class="logo">
        <span class="material-symbols-outlined">medical_services</span>
        Silicon <span>Meditech</span>
    </a>

    <nav class="nav-links">
        <a href="index.html">Home</a>
        <a href="about.html">About Us</a>

        <div class="dropdown">
            <a href="departments.html" class="dropdown-trigger">Departments <span
                    class="material-symbols-outlined icon-tiny">expand_more</span></a>
            <div class="mega-menu">
                <div class="mega-column">
                    <h4>Medical Services</h4>
                    <a href="departments.html#cardiology">Cardiology</a>
                    <a href="departments.html#neurology">Neurology</a>
                    <a href="departments.html#orthopedics">Orthopedics</a>
                    <a href="departments.html#oncology">Oncology</a>
                </div>
                <div class="mega-column">
                    <h4>Diagnostic</h4>
                    <a href="departments.html#radiology">Radiology & Imaging</a>
                    <a href="departments.html#pathology">Pathology</a>
                    <a href="departments.html#health-checkup">Health Checkup</a>
                </div>
                <div class="mega-column featured-dept">
                    <img src="images/radiant_warmer.jpg" alt="Featured">
                    <p>Neonatal Intensive Care Unit (NICU)</p>
                </div>
            </div>
        </div>

        <a href="doctors.html">Find a Doctor</a>
        <a href="contact.html">Contact</a>

        <a href="appointment.html" class="btn-nav pill">Book Appointment</a>
    </nav>

    <div class="menu-toggle"><span class="material-symbols-outlined">menu</span></div>
</div>